<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Code\Reader\ClassReader" type="Ioncube\Di\Code\Reader\ClassReader" />
    <preference for="Magento\Setup\Module\Di\Code\Reader\ClassesScanner" type="Ioncube\Di\Code\Reader\ClassesScanner" />
    <preference for="Magento\Framework\Interception\Code\Generator\Interceptor" type="Ioncube\Di\Code\Generator\Interceptor" />
    <preference for="Magento\Setup\Module\Di\Code\Generator" type="Ioncube\Di\Code\Generator" />
    <preference for="Magento\Setup\Module\Di\Code\Scanner\PhpScanner" type="Ioncube\Di\Code\Setup\Module\Di\Code\Scanner\PhpScanner" />
</config>